<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departmental Staff Enrollment - Blackboard Learn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/deptstaff.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

<!--  <p th:text="'ltiParams: ' + ${ltiParms} + '.'" /> -->
<div id="pageTitleDiv" >
<!-- 
<h1 id="pageTitleHeader" tabindex="-1">
	<span id="pageTitleText">Departmental Staff Enrollment</span>
</h1>
-->
<p class="helphelp">
Please use this form to add departmental staff to the Blackboard course sites for your department. Go to the <a href="update.jsp">Update All Dept Enrollments</a> page to add all listed netIds to all newly added courses.
</p>
</div>
	
<form id="dsForm" th:action="@{/deptstaff}" th:object="${dsModel}" method="post">
<input type="hidden" id="currentTerm" th:value = "${currentTerm}" />
<div>
	<h3 id="steptitle1" class="steptitle">SEMESTER &amp; SUBJECT</h3>
	<ol>
		<li>
			<div id="termListdiv">
				<select id="termList" name="termList" th:field="*{term.id}" onchange="retriveDeptStaff()" size="1">
					<option th:each="term: ${terms}" 
					th:value="${term.id}" 
					th:text="${term.name}">term</option>
				</select>
			</div>
		</li>
	
		<li>
			<div id="deptList">
				<select id="subjectList" name="subjectList" th:field="*{subject.id}" onchange="retriveDeptStaff()" size="1">
					<option th:text="#{ds.subject.default}" th:value="#{ds.subject.default}">default</option>
					<option th:each="subject: ${subjects}" th:value="${subject.id}" th:text="${subject.name}">subject</option>
				</select>
			</div>
		</li>
	</ol>
</div>
<div>
<h3 id="steptitle1" class="steptitle1">&nbsp;LIST OF ADMINISTRATORS</h3>
	<div class="initmsgofsubject" id="initmsgofsubject" style="display:none;">Select a subject to see administrators.</div>
	<div id ="deptstaff-enrolled">
		<table class="inventory sortable" id="listContainer_Datatable">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">NetId</th>
					<th scope="col">Name</th>
					<th scope="col">Role</th>
					<th scope="col">Courses</th>
					<th scope="col">Cross-listed</th>	
				</tr>
			</thead>
			<tbody>
				<tr th:each="ds : ${deptStaffEnrollModelList}">
					<td>
						<button type="submit" name="delete" th:field="*{netid}" th:value="${ds.netid}" th:text="#{ds.delete}">Delete</button>
					</td>
					<td th:text="${ds.netid}">netid</td>
					<td th:text="${ds.name}">name</td>
					<td th:text="${ds.role}">role</td>
					<td th:text="${ds.courses}">courses</td>
					<td th:text="${ds.crosslisted}">crosslisted</td>
				</tr>
			</tbody>
		</table>
		<div>
<h3 id="steptitle1" class="steptitle1">&nbsp;ADD NEW COURSE ADMINISTRATORS</h3>
		<ul style="list-style: none;">	
			<li>
				<div class="initmsgofsubject" >Select a subject before adding administrators.</div>
				<div id="showroles" class="">
					<div class="label"> 
					Select role:</div>
					<div class="field">
					<ul>
						<li th:each="r: ${allRoles}">
							<input type="radio" th:field="*{role}" th:value="${r}" />
							<label th:for="${#ids.prev('role')}" th:text="#{${ds.role.type.' + r}}">role</label>
						</li>
					</ul>
					</div>
				</div>
			</li>
			<li>
				<div class="label">
					Select courses:</div>
				<div class="field">
					<ul style="list-style: none;">
					<li th:each="cc: ${careers}">
						<input type="radio" th:field="*{career}" th:value="${cc}" />
						<label th:for="${#ids.prev('cc')}" th:text="#{${ds.career.type.' + cc}}">career</label>
					</li>
				</ul>
			</div>
			</li>
			<li>
				<div class="label">
					Include cross-listed courses:</div>
				<div class="field">
					<ul>
						<li th:each="cl: ${crosslisteds}">
							<input type="radio" th:field="*{crosslisted}" th:value="${cl}" />
							<label th:for="${#ids.prev('crosslisted')}" th:text="#{${ds.crosslisted.type.' + cl}}">crosslisted</label>
						</li>
						</ul>
				</div>
			</li>
			<li>
				<div class="label">
					Enter PU netid(s):</div>
				<div class="field">
					<span class="element-group">
						<input type="text" class="element-netid" th:field="*{netids}" size="30" />
					</span>
					<span class="element-comment">
							For multiple users with the same role and course selections,
							you may enter multiple netid's separated by commas.
					</span>
				</div>
			</li>
		</ul>
	</div>
	</div>
	</div>

</div>

<div id="unauthorized" class="section unauthorized" style="display:none;">
		<p class="auth-text">Sorry, you are not currently authorized to add
			departmental staff to the Blackboard course sites for your department.
		</p>
		<p class="auth-text">If you need to be added to all the Blackboard course sites for your department,
			please contact the person who handles your department's
			PeopleSoft Course Update Process (PS CUP).
		</p>
		<p class="auth-text">If you are a department PS CUP Administrator,
			please contact the Blackboard staff for assistance at
			<a href="mailto:blackboard@princeton.edu">blackboard@princeton.edu</a>
			or 258-0737.
		</p>
		<div class="auth-button">
	
	 	</div>
	</div>
</form>
</body>
</html>