<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Departmental Staff Enrollment - Blackboard Learn</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/deptstaff.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}" />
</head>
<body>

 <!--  <p th:text="'ltiParams: ' + ${ltiParms} + '.'" /> -->
<div id="pageTitleDiv" >

<p class="helphelp">
Please use this form to add departmental staff to the Blackboard course sites for your department. Go to the <a href="update.jsp">Update All Dept Enrollments</a> page to add all listed netIds to all newly added courses.
</p>
</div>
	
<form id="dsForm" defaultbutton="" th:action="@{/deptstaff}" th:object="${dsModel}" method="post">
<input type="hidden" id="caller" th:field ="*{caller}" />
<input type="hidden" id="isAdmin" th:field ="*{isAdmin}" />
<!-- to stop form submitting on deleting when enter is press in the input box -->
<button style="overflow: visible !important; height: 0 !important; width: 0 !important; margin: 0 !important; border: 0 !important; padding: 0 !important; display: block !important;" type="submit" name ="save" />

<div>
	<h3 id="steptitle1" class="steptitle">SEMESTER &amp; SUBJECT</h3>
	<ul style="list-style: none;">
		<li>
			<div id="termListdiv">
				<select id="termList" name="termList" th:field="*{currentTerm.id}" onchange="this.form.submit();" size="1">
					<option th:each="term: ${terms}" 
					th:value="${term.id}" 
					th:text="${term.name}">term</option>
				</select>
			</div>
		</li>
	
		<li>
			<div id="deptList">
				<select id="subjectList" name="subjectList" th:field="*{currentSubject.id}" onchange="this.form.submit();" size="1">
					<option th:text="#{ds.subject.default}" th:value="#{ds.subject.default}">default</option>
					<option th:each="subject: ${subjects}" th:value="${subject.id}" th:text="${subject.name}">subject</option>
				</select>
			</div>
		</li>
	</ul>
</div>
<div>
<h3 id="steptitle1" class="steptitle1">&nbsp;LIST OF ADMINISTRATORS</h3>
	<div class="initmsgofsubject" id="initmsgofsubject" style="display:none;">Select a subject to see administrators.</div>
	
	<div id ="deptstaff-enrolled">
		<table class="inventory sortable" id="listContainer_Datatable">
			<thead>
				<tr>
					<th scope="col"></th>
					<th scope="col">NetId</th>
					<th scope="col">Name</th>
					<th scope="col">Role</th>
					<th scope="col">Courses</th>
					<th scope="col">Cross-listed</th>	
				</tr>
			</thead>
			<tbody>
				<tr><td><div id ="deptstaff-none" th:if="${#lists.isEmpty(deptStaffEnrollModelList)}">
		(No course admins assigned in <span th:text="${spanterm}">term</span> for <span th:text="${spansubject}">subject</span>)</div></td></tr>
				<tr th:each="ds : ${deptStaffEnrollModelList}" th:unless="${#lists.isEmpty(deptStaffEnrollModelList)}">	
					<td>
						<button type="submit" name="delete" th:value="${ds.netid}" th:text="#{ds.delete}">Delete</button>
					</td>
					<td th:text="${ds.netid}">netid</td>
					<td th:text="${ds.name}">name</td>
					<td th:text="${ds.role}">role</td>
					<td th:text="${ds.career}">courses</td>
					<td th:text="${ds.crosslisted}">crosslisted</td>
				</tr>
			</tbody>
		</table>
	</div>
<h3 id="steptitle1" class="steptitle1">&nbsp;ADD NEW COURSE ADMINISTRATORS</h3>
	<div class="initmsgofsubject" id="initmsgofsubject1" style="display:none;" >Select a subject before adding administrators.</div>
	<div id = "enroll_deptstaff" >
		<div class="label"> Select role:</div>
		<div class="field">
			<ul>
				<li th:each="r: ${allRoles}">
					<input type="radio" th:field="*{role}" th:value="${r}" />
					<label th:for="${#ids.prev('role')}" th:text="#{${'ds.role.' + r}}">role</label>
				</li>
			</ul>
		</div>
			
		<div class="label">Select courses:</div>
		<div class="field">
			<ul style="list-style: none;">
				<li th:each="cc: ${allCareers}">
					<input type="radio" th:field="*{career}" th:value="${cc}" />
					<label th:for="${#ids.prev('career')}" th:text="#{${'ds.career.' + cc}}">career</label>
				</li>
			</ul>
		</div>
	
		<div class="label">
				Include cross-listed courses:</div>
		<div class="field">
			<ul>
				<li th:each="cl: ${allCrosslisted}">
					<input type="radio" th:field="*{crosslisted}" th:value="${cl}" />
					<label th:for="${#ids.prev('crosslisted')}" th:text="#{${'ds.crosslisted.' + cl}}">crosslisted</label>
				</li>
			</ul>
		</div>
			
		<div class="label">Enter PU netid(s):</div>
		<div class="field">
			<span class="element-group">
				<input type="text" class="element-netid" th:field="*{netids}" size="130" id="input-netids" />
				<span th:if="${#fields.hasErrors('netids')}" class="" th:errors="*{netids}">the netid can't be found in the system.</span>
			</span>
			<p>
				<span class="element-comment">
							For multiple users with the same role and course selections,
							you may enter multiple netid's separated by commas.
				</span>
				<span>
					<button type="submit" name="save" id="button-save" th:value="save" th:text="#{ds.save}">OK</button>
				</span>
			</p>
		</div>
	</div>
	</div>
</form>
</body>
</html>