<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <p th:text="'subject: ' + ${dsModel.currentSubject.id}" />
    <p th:text="'term: ' + ${dsModel.currentTerm.id}" />
    <a href="/deptstaff">Submit another message</a>
</body>
</html>