<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tool Configuration Settings</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>

	<h2 th:text="#{title.settings}">Configure Princeton Dept. Staff LTI tool provider</h2>
	<p>
		<span th:text="'Last Updated: ' + ${lastUpdated} " class="lastUpdated">last updated</span>
	</p>
	
	<div th:if="${noChangeMsg}" class="message" th:text="#{message.nochange}">Nothing changed since last update.</div>
	<div th:if="${errMsg}" class="message" th:text="#{message.error}">error message</div>
	<form action="#" th:action="@{/settings}" method="post" th:object="${settings}">
		<fieldset class="fieldset">
			<legend th:text="#{admin.params}">LTI Tool Configuration Parameters</legend>
			<div class="input_div" >
			<label for="ltikey">
					<span th:text="#{config.ltikey}">Shared Key</span>
				</label>
				<input type="text" th:field="*{key}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="ltisecret">
					<span th:text="#{config.ltisecret}">Shared Secret</span>
				</label>
				<input type="text" th:field="*{secret}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="RestKey">
					<span th:text="#{config.restkey}">Blackboard Rest API Key</span>
				</label>
				<input type="text" th:field="*{restKey}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="RestSecret">
					<span th:text="#{config.restsecret}">Update Scheduler Starts From</span>
				</label>
				<input type="text" th:field="*{restSecret}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="learnUrl">
					<span th:text="#{config.learnUrl}">Blackboard Instance url</span>
				</label>
				<input type="text" th:field="*{learnUrl}" class="input_text" />
			</div>
		</fieldset>
		<br />
		<br />
		<fieldset class="fieldset" >
			<legend th:text="#{config.auth.title}">Departmental Authorization Lookup Parameters</legend>
			<div class="input_div">
				<label for="Auth Service URL">
					<span th:text="#{config.authEndpoint}">Auth Service URL</span>
				</label>
				<input type="text" th:field="*{authEndpoint}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="Auth Service Action">
					<span th:text="#{config.authAction}">Auth Service Action</span>
				</label>
				<input type="text" th:field="*{authAction}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="Auth Service Operation">
					<span th:text="#{config.authMethod}">Auth Service Operation</span>
				</label>
				<input type="text" th:field="*{authMethod}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="Auth Service ID Field">
					<span th:text="#{config.authParamId}">Auth Service ID Field</span>
				</label>
				<input type="text" th:field="*{authParamId}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="Auth Service Org Field">
					<span th:text="#{config.authParamOrg}">Auth Service Org Field</span>
				</label>
				<input type="text" th:field="*{authParamOrg}" class="input_text" />
			</div>
		</fieldset>
		<br />
		<br />
		<fieldset class="fieldset" >
			<legend th:text="#{config.job.title}">Job Scheduler Parameters</legend>
			<div class="input_div">
				<label for="Email Recipient">
					<span th:text="#{job.emailTo}">Email Recipient</span>
				</label>
				<input type="text" th:field="*{emailTo}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="Email Sender">
					<span th:text="#{job.emailFrom}">Email Sender</span>
				</label>
				<input type="text" th:field="*{emailFrom}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="Update Scheduler Period">
					<span th:text="#{job.schedulerPeriod}">Update Scheduler Period</span>
				</label>
				<input type="text" th:field="*{schedulerPeriod}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="Update Schedule Starts From">
					<span th:text="#{job.scheduleStarts}">Update Scheduler Starts From</span>
				</label>
				<input type="text" th:field="*{scheduleStart}" class="input_text" />
			</div>
		</fieldset>
		<br />
		<br />
		<fieldset class="fieldset" >
			<legend th:text="#{config.ws.title}">BBDATA Web Service Parameters</legend>
			<div class="input_div" >
				<label for="webserviceUrl">
					<span th:text="#{webservice.url}">bbdata web service URL</span>
				</label>
				<input type="text" th:field="*{webUrl}" class="input_text" />
			</div>
			<div class="input_div" >
				<label for="webserviceKey">
					<span th:text="#{webservice.key}">bbdata web service secret key</span>
				</label>
				<input type="text" th:field="*{webSvcKey}" class="input_text" />
			</div>
		</fieldset>
		<br />
		<br />
		<fieldset class="fieldset" >
			<legend th:text="#{config.semester.title}">Semester Related parameters</legend>
			<div class="input_div" >
				<label for="current semester">
					<span th:text="#{config.currentSemester}">current semester</span>
				</label>
				<input type="text" th:field="*{currentSemester}" class="input_text" />
			</div>
		</fieldset>
		 <div class="submit">
            <button type="submit" name="save" th:text="#{settingform.submit}">Submit</button>    
          </div>
	</form>	
  </body>
</html>